* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 50rem;
  margin: 0 auto;
}

hr {
  width: 50rem;
}

h1 {
  font-size: 2rem;
}

ul {
  padding-left: 0;
}

p, li {
  font-size: 1.5rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

button {
  margin-bottom: 1rem;
}

input,button {
  display: block;
  margin-top: 3rem;
}

input[type="number"] {
  height: 3rem;
}

input[type="text"] {
  height: 10rem;
  width: 30rem;
  text-align: left;

}

input::-webkit-inner-spin-button {
  opacity: 1;
  height: 2rem;
  width: 1rem;
}

textarea {
  resize: none;
}
